# Archivos de compilación y binarios
**/target/
/bin/
/out/
*.class
*.jar
*.war
# Archivos de Maven y build
*.log
*.lst

# Archivos de entorno e IDE
*.swp
*.swo
*.iml
.DS_Store
.idea/
.vscode/
/WebJMQ/WebJMQ/WebJMQ/JMQWS/target/
