# Archivos de compilación y binarios
/target/
/bin/
/out/
*.jar
*.class
# Archivos de Maven y build
*.log
*.lst
*.war
# Archivos de entorno e IDE
*.swp
*.swo
*.iml
.DS_Store
.idea/
.vscode/
*.txt
/WebJMQ/WebJMQ/WebJMQ/JMQWS/target/
